In [4]:
import pandas as pd
import os

In [7]:
df = pd.read_csv("D:\Git\computing-pandas\SalesAnalysis\Sales_Data\Sales_April_2019.csv") # reading csv file
print(df.head())

df = pd.concat(map(pd.read_csv,['D:\Git\computing-pandas\SalesAnalysis\Sales_Data\Sales_April_2019.csv',
'D:\Git\computing-pandas\SalesAnalysis\Sales_Data\Sales_August_2019.csv',
'D:\Git\computing-pandas\SalesAnalysis\Sales_Data\Sales_December_2019.csv',
'D:\Git\computing-pandas\SalesAnalysis\Sales_Data\Sales_February_2019.csv',
'D:\Git\computing-pandas\SalesAnalysis\Sales_Data\Sales_January_2019.csv',
'D:\Git\computing-pandas\SalesAnalysis\Sales_Data\Sales_July_2019.csv',
'D:\Git\computing-pandas\SalesAnalysis\Sales_Data\Sales_June_2019.csv',
'D:\Git\computing-pandas\SalesAnalysis\Sales_Data\Sales_March_2019.csv',
'D:\Git\computing-pandas\SalesAnalysis\Sales_Data\Sales_May_2019.csv',
'D:\Git\computing-pandas\SalesAnalysis\Sales_Data\Sales_November_2019.csv',
'D:\Git\computing-pandas\SalesAnalysis\Sales_Data\Sales_October_2019.csv',
'D:\Git\computing-pandas\SalesAnalysis\Sales_Data\Sales_September_2019.csv']),ignore_index='true')

df.to_csv(r'D:\Git\computing-pandas\SalesAnalysis\Sales_Data\all_data_2019.csv',header='none', index = 'none', 
          sep = ' ', mode = 'a')

df.head()

<>:1: SyntaxWarning: invalid escape sequence '\G'
<>:4: SyntaxWarning: invalid escape sequence '\G'
<>:5: SyntaxWarning: invalid escape sequence '\G'
<>:6: SyntaxWarning: invalid escape sequence '\G'
<>:7: SyntaxWarning: invalid escape sequence '\G'
<>:8: SyntaxWarning: invalid escape sequence '\G'
<>:9: SyntaxWarning: invalid escape sequence '\G'
<>:10: SyntaxWarning: invalid escape sequence '\G'
<>:11: SyntaxWarning: invalid escape sequence '\G'
<>:12: SyntaxWarning: invalid escape sequence '\G'
<>:13: SyntaxWarning: invalid escape sequence '\G'
<>:14: SyntaxWarning: invalid escape sequence '\G'
<>:15: SyntaxWarning: invalid escape sequence '\G'
<>:1: SyntaxWarning: invalid escape sequence '\G'
<>:4: SyntaxWarning: invalid escape sequence '\G'
<>:5: SyntaxWarning: invalid escape sequence '\G'
<>:6: SyntaxWarning: invalid escape sequence '\G'
<>:7: SyntaxWarning: invalid escape sequence '\G'
<>:8: SyntaxWarning: invalid escape sequence '\G'
<>:9: SyntaxWarning: invalid escape sequence '\G'
<>:10: SyntaxWarning: invalid escape sequence '\G'
<>:11: SyntaxWarning: invalid escape sequence '\G'
<>:12: SyntaxWarning: invalid escape sequence '\G'
<>:13: SyntaxWarning: invalid escape sequence '\G'
<>:14: SyntaxWarning: invalid escape sequence '\G'
<>:15: SyntaxWarning: invalid escape sequence '\G'
C:\Users\morgu\AppData\Local\Temp\ipykernel_6928\186752213.py:1: SyntaxWarning: invalid escape sequence '\G'
  df = pd.read_csv("D:\Git\computing-pandas\SalesAnalysis\Sales_Data\Sales_April_2019.csv") # reading csv file
C:\Users\morgu\AppData\Local\Temp\ipykernel_6928\186752213.py:4: SyntaxWarning: invalid escape sequence '\G'
  df = pd.concat(map(pd.read_csv,['D:\Git\computing-pandas\SalesAnalysis\Sales_Data\Sales_April_2019.csv',
C:\Users\morgu\AppData\Local\Temp\ipykernel_6928\186752213.py:5: SyntaxWarning: invalid escape sequence '\G'
  'D:\Git\computing-pandas\SalesAnalysis\Sales_Data\Sales_August_2019.csv',
C:\Users\morgu\AppData\Local\Temp\ipykernel_6928\186752213.py:6: SyntaxWarning: invalid escape sequence '\G'
  'D:\Git\computing-pandas\SalesAnalysis\Sales_Data\Sales_December_2019.csv',
C:\Users\morgu\AppData\Local\Temp\ipykernel_6928\186752213.py:7: SyntaxWarning: invalid escape sequence '\G'
  'D:\Git\computing-pandas\SalesAnalysis\Sales_Data\Sales_February_2019.csv',
C:\Users\morgu\AppData\Local\Temp\ipykernel_6928\186752213.py:8: SyntaxWarning: invalid escape sequence '\G'
  'D:\Git\computing-pandas\SalesAnalysis\Sales_Data\Sales_January_2019.csv',
C:\Users\morgu\AppData\Local\Temp\ipykernel_6928\186752213.py:9: SyntaxWarning: invalid escape sequence '\G'
  'D:\Git\computing-pandas\SalesAnalysis\Sales_Data\Sales_July_2019.csv',
C:\Users\morgu\AppData\Local\Temp\ipykernel_6928\186752213.py:10: SyntaxWarning: invalid escape sequence '\G'
  'D:\Git\computing-pandas\SalesAnalysis\Sales_Data\Sales_June_2019.csv',
C:\Users\morgu\AppData\Local\Temp\ipykernel_6928\186752213.py:11: SyntaxWarning: invalid escape sequence '\G'
  'D:\Git\computing-pandas\SalesAnalysis\Sales_Data\Sales_March_2019.csv',
C:\Users\morgu\AppData\Local\Temp\ipykernel_6928\186752213.py:12: SyntaxWarning: invalid escape sequence '\G'
  'D:\Git\computing-pandas\SalesAnalysis\Sales_Data\Sales_May_2019.csv',
C:\Users\morgu\AppData\Local\Temp\ipykernel_6928\186752213.py:13: SyntaxWarning: invalid escape sequence '\G'
  'D:\Git\computing-pandas\SalesAnalysis\Sales_Data\Sales_November_2019.csv',
C:\Users\morgu\AppData\Local\Temp\ipykernel_6928\186752213.py:14: SyntaxWarning: invalid escape sequence '\G'
  'D:\Git\computing-pandas\SalesAnalysis\Sales_Data\Sales_October_2019.csv',
C:\Users\morgu\AppData\Local\Temp\ipykernel_6928\186752213.py:15: SyntaxWarning: invalid escape sequence '\G'
  'D:\Git\computing-pandas\SalesAnalysis\Sales_Data\Sales_September_2019.csv']),ignore_index='true')

  Order ID                     Product Quantity Ordered Price Each  \
0   176558        USB-C Charging Cable                2      11.95
1      NaN                         NaN              NaN        NaN
2   176559  Bose SoundSport Headphones                1      99.99
3   176560                Google Phone                1        600
4   176560            Wired Headphones                1      11.99

       Order Date                      Purchase Address
0  04/19/19 08:46          917 1st St, Dallas, TX 75001
1             NaN                                   NaN
2  04/07/19 22:30     682 Chestnut St, Boston, MA 02215
3  04/12/19 14:38  669 Spruce St, Los Angeles, CA 90001
4  04/12/19 14:38  669 Spruce St, Los Angeles, CA 90001

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"